{% load bootstrap5 %}
<!-- Load the tag library -->
<!-- Load CSS and JavaScript -->
{% bootstrap_css %}
{% bootstrap_javascript %}
<!-- Display django.contrib.messages as Bootstrap alerts  -->
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DynamicForm | Index</title>
</head>

<body>
    <!-- The start of nabvar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-4">
        <div class="container-fluid col-md-10">
          <a class="navbar-brand text-primary " href="">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Pages</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Disabled</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-primary" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-auto">
                    <h2 class="text-primary">This is the main content</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                       Accusantium reiciendis placeat corporis, quia fugit consequatur enim odit,
                        expedita fuga ipsa repellat? Deserunt fuga consequatur delectus voluptatem ad
                         reprehenderit eius eum.</p>
                </div>
            </div>
        </div>
    </section>

</body>

</html>